.featuredMedia {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
}

.featuredMediaGenre {
  font-size: 1.5rem;
}

.featuredMediaInfo {
  background-image: linear-gradient(to right, rgba(#141414, 1) 20%, transparent);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 60px 20px;

  @media (min-width: 885px) {
    max-width: 50%;
    padding: 60px;
  }
}

.featuredMediaTitle {
  color: var(--body-text-color);
  font-size: 1.5rem;
  margin: 1vw 0;
  text-shadow: 2px 2px 4px rgba(#000, 0.45);

  @media (min-width: 885px) {
    font-size: 2.5rem;
  }
}

.featuredMediaText {
  color: var(--body-text-color);
  display: -webkit-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  @media (min-width: 885px) {
    font-size: 1.25rem;
  }
}

.featuredMediaInfoActions {
  display: flex;
  margin-top: 1.5rem;

  button {
    margin: 0 1rem 1rem 0;
  }
}