.button {
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 20px;
  font-size: 0.75rem;
  font-weight: bold;
  justify-content: center;
  line-height: 2.4rem;
  padding: 0.8rem 0.5rem;
  position: relative;
  user-select: none;
  word-break: break-word;
  white-space: nowrap;

  @media (min-width: 320px) {
    font-size: 1rem;
    height: 35px;
    padding: 0.8rem 0.8rem;
  }

  @media (min-width: 420px) {
    font-size: 1.2rem;
    padding: 0.8rem 1.8rem 0.8rem 1.5rem;
  }

  @media (min-width: 885px) {
    height: 50px;
  }

  svg {
    font-size: 1rem;
    margin-right: 0.25rem;

    @media (min-width: 420px) {
      font-size: 1rem;
    }

    @media (min-width: 885px) {
      font-size: 1.8rem;
    }
  }

  &:not(:disabled):focus::before {
    border: 2px solid var(--body-text-color);
    border-radius: 8px;
    box-sizing: content-box;
    content: '';
    display: block;
    height: 100%;
    left: -4px;
    padding: 2px;
    position: absolute;
    top: -4px;
    width: 100%;
  }
}

.buttonPrimary {
  background-color: var(--body-text-color);
  color: var(--bg-color);

  &:not(:disabled):hover {
    background-color: rgba(255,255,255,0.75);
  }
}

.buttonSecondary {
  background-color: rgba(109,109,110,0.7);
  color: var(--body-text-color);

  &:not(:disabled):hover {
    background-color: rgba(109,109,110,0.4);
  }
}