:root {
  --body-text-color: #fff;
  --bg-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  color: var(--body-text-color);
  line-height: 1.2;
  user-select: none;
}

body, input, textarea, select, button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 1601px) and (max-width: 1920px) and (orientation: landscape) {
  body, html {
    font-size: .75vw;
  }
}
