.menuMobile {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--body-text-color);
  cursor: pointer;
  display: flex;
  font-size: 0.825rem;
  font-weight: 700;
  height: 41px;
  padding: 0 8px;
  position: relative;

  > svg {
    color: var(--body-text-color);
    font-size: 1.125rem;
  }

  @media (min-width: 885px) {
    display: none;
  }

  .menuItems {
    background-color: rgba(0,0,0,.9);
    border-top: 2px solid var(--primary-text-color);
    display: none;
    left: 50%;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 260px;

    &::before,
    &::after {
      bottom: 100%;
      content: '';
      position: absolute;
    }

    &::before {
      border-bottom: 10px solid var(--primary-text-color);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid transparent;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    li {
      display: block;
      margin-left: 0;

      &.menuItemsActiveItem {

        a {
          font-weight: 700;
        }
      }
    }

    a {
      align-items: center;
      display: flex;
      font-size: 0.75rem;
      height: 50px;
      justify-content: center;
      white-space: nowrap;
    }
  }

  &.menuMobileOpen {

    .menuItems {
      display: block;
    }
  }
}

.menuItems {
  display: none;
  list-style-type: none;

  @media (min-width: 885px) {
    display: flex;
  }

  li {
    display: flex;
    margin-left: 20px;
  }

  a {
    font-size: 0.875rem;
    color: var(--gray-text-color);

    @media (min-width: 885px) {
      color: var(--body-text-color);
    }
  }
}

.menuItemsActiveItem {

  a {
    color: var(--body-text-color);
    cursor: default;

    @media (min-width: 885px) {
      font-weight: 700;
    }
  }
}