.container {
  padding: 0 20px;

  @media (min-width: 885px) {
    padding: 0 60px;
  }
}

.grid {
  display: grid;
  grid-column-gap: 4px;
  grid-template-columns: repeat(2, 1fr);

  > div {
    padding-top: 0.75rem;

    @media (min-width: 885px) {
      padding-top: 4rem;
    }
  }

  @media (min-width: 500px) and (max-width: 799px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 800px) and (max-width: 1099px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1100px) and (max-width: 1399px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(6, 1fr);
  }
}