.container {
}

.title {
  display: table-cell;
  vertical-align: bottom;
  line-height: 1.25vw;
  font-size: 1.4vw;

  color: #e5e5e5;
  font-weight: bold;
  margin: 0.5em 0;
  text-decoration: none;
  display: inline-block;
  min-width: 6em;
}

.listContainer {
  position: relative;
}

.list {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;

  .listItem {
    display: inline-block;
    padding: 0 2px;
    min-width: 255px;

    a {
      border-radius: 4px;
      overflow: hidden;
      display: block;
    }
  }
}

.prevButton,
.nextButton {
  bottom: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}