.container {
  margin-bottom: 4rem;
  overflow: hidden;

  + .container {
    margin-top: 4rem;
  }
}

.title {
  color: var(--body-text-color);
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding: 0.5rem 0 1rem 60px;
  min-width: 6rem;
  text-decoration: none;
}