.listItem {
  display: inline-block;
  width: 260px;

  &:first-child {
    margin-left: 60px;
  }

  &:last-child {
    margin-right: 60px;
  }

  a {
    display: block;
    height: 144px;
    position: relative;
    width: 260px;

    > div {
      overflow: hidden;
      padding: 0 2px;
    }

    img {
      border-radius: 4px;
      box-shadow: 0 0 4px rgba(#000, 0.9);
    }
  }
}