.listItem {
  display: inline-block;
  width: 260px;

  &:first-child {
    margin-left: 60px;
  }

  &:last-child {
    margin-right: 60px;
  }

  a {
    display: block;
    height: 144px;
    position: relative;
    width: 260px;

    > div {
      overflow: hidden;
      padding: 0 2px;
    }

    img {
      border-radius: 6px;
    }
  }
}