.container {
  align-items: center;
  background-image: linear-gradient(rgba(#000, 0.7), transparent);
  display: flex;
  height: 68px;
  left: 0;
  padding: 0 60px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}