.header {
  align-items: center;
  background-image: linear-gradient(to bottom, #000, transparent);
  background-position: 0 -48px;
  background-size: 100% 90px;
  display: flex;
  height: 41px;
  left: 0;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-position 0.5s linear;
  z-index: 10;

  @media (min-width: 885px) {
    background-position: 0 -80px;
    background-size: 100% 150px;
    height: 68px;
    padding: 0 60px;
  }

  &.headerFillBackground {
    background-position: 0 0;
  }

  a[class*=logo] {
    display: flex;
    margin-right: 0.5rem;

    @media (min-width: 885px) {
      margin-right: 25px;
    }
  }
}