.mediaCarouselCard {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 2px;
  position: relative;
  transition: all 0.26s;

  img {
    border-radius: 4px;
  }

  &:hover {
    box-shadow: 0 0 10px rgba(#000, 0.8);
    transform: scale(1.3) translateY(-40%);
    z-index: 2;

    img {
      position: relative;
      border-radius: 4px 4px 0 0;
    }

    .mediaCarouselCardDetails {
      display: flex;
    }
  }
}

.mediaCarouselCardDetails {
  border-radius: 0 0 4px 4px;
  background-color: var(--bg-color);
  display: none;
  flex-direction: column;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 100%;
  box-shadow: 0 0 20px rgba(#000, 0.8);
}

.mediaCarouselCardTitle {
  font-size: 0.825rem;
  margin-bottom: 1rem;
}

.mediaCarouselCardActions {
  display: flex;
  list-style-type: none;
  margin-bottom: 1rem;

  li {
    margin-right: 0.25rem;

    &.mediaCarouselCardActionActiveItem {

      a {
        border-color: var(--body-text-color);
        background-color: var(--body-text-color);
        color: var(--bg-color);
      }
    }
  }

  a {
    align-items: center;
    background-color: var(--bg-color);
    border: 1px solid var(--gray-text-color);
    border-radius: 50%;
    display: flex;
    font-size: 0.75rem;
    height: 24px;
    justify-content: center;
    transition: border 0.2s;
    width: 24px;

    &:hover {
      border-color: var(--body-text-color);
    }
  }
}

.mediaCarouselCardRelevant {
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1rem;

  &.mediaCarouselCardRelevantGreen {
    color: #00d259;
  }

  &.mediaCarouselCardRelevantYellow {
    color: #c3c556;
  }

  &.mediaCarouselCardRelevantRed {
    color: #bd5340;
  }
}