.container {
  padding: 80px 20px 0;

  @media (min-width: 885px) {
    padding: 130px 60px 0;
  }
}

.grid {
  display: grid;
  grid-column-gap: 4px;
  grid-template-columns: repeat(2, 1fr);

  > div {
    margin-bottom: 0.75rem;

    @media (min-width: 885px) {
      margin-bottom: 4rem;
    }
  }

  @media (min-width: 500px) and (max-width: 799px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 800px) and (max-width: 1099px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1100px) and (max-width: 1399px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.emptyState {}

.emptyStateSubtitle {
  font-weight: 700;
  margin-bottom: 1rem;
}

.emptyStateList {
  list-style-position: inside;
  font-size: 0.875rem;

  li {
    margin: 0.25rem;
  }
}