.footer {
  margin: 0 auto;
  padding: 2rem 20px 1rem;

  @media (min-width: 885px) {
    max-width: 980px;
    padding: 2rem 60px 1rem;
  }
}

.footerContainer {

  @media (min-width: 420px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 885px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.footerSocialMedia {
  display: flex;
  list-style-type: none;
  margin-bottom: 0.5rem;

  li {
    margin-right: 1.25rem;

    @media (min-width: 885px) {
      font-size: 1.5rem;
    }
  }

  a {
    color: grey;
    font-size: 1.25rem;

    @media (min-width: 885px) {
      font-size: 1.5rem;
    }
  }
}

.footerMenu {
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 0.875rem;

  li {
    margin-bottom: 0.875rem;
  }

  a {
    color: grey;
    font-size: 0.8125rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footerCopyright {
  color: grey;
  font-size: 0.6875rem;
}