.container {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
}

.containerTitle {
  margin-bottom: 1rem;
}

.info {
  justify-content: center;
  background-image: linear-gradient(to right, rgba(#000, 0.7), transparent);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 60px 20px;

  @media (min-width: 885px) {
    max-width: 50%;
    padding: 60px;
  }
}

.infoActions {}

.infoText {}

.title {
  color: var(--body-text-color);
  font-size: 1.5rem;
  margin: 1vw 0;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.text {
  color: var(--body-text-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  width: 100%;

  @media (min-width: 885px) {
    font-size: 1.25rem;
  }
}

.infoActions {
  display: flex;
  margin-top: 1.5rem;

  button {
    margin: 0 1rem 1rem 0;
  }
}